{{ define "main" }}
  <div class="d-flex justify-content-center align-items-center four-oh-four" style="height: 100vh;">
    <div class="text-center">
      <h1>Page not found</h1>
      <h4>The page you are looking for doesn't exist or has been moved.</h4>
      <a href="{{ .Site.BaseURL }}" class="btn btn-primary">Return to Homepage</a>
    </div>
    <div class="position-absolute" style="right: 20px; top: 20px;">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}web-app-manifest-512x512.png" alt="HigherEduSpot" width="40" height="40" />
      </a>
    </div>
  </div>
{{ end }}
