{{ define "main" }}
  <div class="d-flex flex-column justify-content-left align-items-left" style="height: 100vh;">
    <div class="text-left">
      <h1>Page not found</h1>
      <h4>The page you are looking for doesn't exist or has been moved.</h4>
      <a href="{{ .Site.BaseURL }}" class="btn btn-primary">Return to Homepage</a>
    </div>
    <div class="mt-3">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}web-app-manifest-512x512.png" alt="Your Logo" width="40" height="40" />
      </a>
    </div>
  </div>
{{ end }}
