<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://www.highereduspot.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.highereduspot.com/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    "sitelinks": {
      "mainEntityOfPage": [
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/about/",
          "name": "About Us"
        },
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/docs/faqs/what-is-highereduspot/",
          "name": "FAQs"
        },
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/higheredujobs/",
          "name": "HigherEduJobs"
        },
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/highereduprograms/",
          "name": "HigherEduPrograms"
        },
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/higheredujobs/highereduprofiles/",
          "name": "HigherEduProfiles"
        }
      ]
    }
  }
  </script>
