<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://www.highereduspot.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.highereduspot.com/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    "sitelinks": {
      "mainEntityOfPage": [
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/about/",
          "name": "About Us"
        },
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/jobs-in-higher-education/",
          "name": "Jobs in Higher Education"
        },
        {
          "@type": "WebPage",
          "url": "https://www.highereduspot.com/about/contact/",
          "name": "Contact"
        }
      ]
    }
  }
  </script>
